@import "colours";

@mixin movement($time) {
  webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  transition: all $time ease;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}


.card-2 {
  @include movement(0.2s);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  &:hover {
    @include movement(0.2s);
    box-shadow: 0 14px 40px rgba(0,0,0,0.25), 0 4px 5px rgba(0, 0, 0, 0.18);
  }
}

h2 {
  margin: 0;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem 0;
  position: relative;
}

.card-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cover-photo {
  height: 160px;
  img {
    width: 100%;
    cursor: pointer;
  }

}

.removeThis {
  height: 0;
}

.item {
  h2 {
    font-family: Raleway, sans-serif;
    font-size: 1.5rem;
  }
  .info {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 18px;
  }
  article, blockquote {
    margin: 0;
    margin-right: 20px;
  }
  .meta {
    color: $greyOnWhite;
    font-style: italic;
  }
  a {
    font-weight: bold;
    color: $black;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }


}



.button {
  padding: 5px 35px 5px 35px;
  background-color: $green;
  color: #FFFFFF;
  width: 35px;
  cursor: pointer;
  margin-bottom: 1rem;
  float: right;
  @include border-radius(2px);
  @extend .card-2;
}

.hidden, #blog-template {
  display: none;
 }

//Remove inherited styling
button {
  -webkit-appearance:none;
  border-width: 0;
  box-sizing: inherit;
}

.clear-fix:after
{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear-fix
{
  zoom: 1;
}
