@import 'variables';


@mixin movement($time) {
  webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  transition: all $time ease;
}

.hoverAnchor {
  color: $grey;
  @include movement(0.2s);
  &:hover {
    color: #fff;
  }
}

body {
  background-color: #f1f1f1;
  margin: 0;
}
.navbar {
  background-color: $black;
  overflow: auto;
  .navbar-inner {
    max-width: $navbar-width;
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 45px 50px;
  }
  .brand {
    float: left;
    @media screen and (max-width: $breakpoint-med) {
      width: 100%;
    }
  }
  nav {
    float: right;
    padding-top: 30px;
    text-align: left;
    margin: 0;
    line-height: 10px;
    .active > a {
      color: #fff;
    }
    @media screen and (max-width: $breakpoint-med) {
      padding-top: 0;
      float: none;
      ul {
        padding: 0;
      }
    }
    ul {
      list-style-type: none;
      li {
        display: block;
        color: $grey;
        position: relative;
        padding-bottom: 10px;
        padding-right: 0px;
        padding-left: 35px;
        float: left;
        @media screen and (max-width: $breakpoint-med) {
          padding-left: 0;
          padding-right: 15px;
        }
        a {
          @extend .hoverAnchor;
        }
      }
    }
  }

}
a {
  color: #ffffff;
  text-decoration: none;
}
.brand {
  font-size: 35px;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  a {
    @include movement(0.4s);
    &:hover {
      padding-left: 12px;
      @include movement(0.4s);
    }
  }
}

.clearfix {
  *
  display: inline-block;
  height: 1%;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//.row {
//  .col-6 {
//    margin-top: 3.5rem;
//    margin-bottom: 3.5rem;
//  }
//}

.nav-list {
  ul {
    list-style-type: none;
    float: right;
    margin: 0;
  }
  li {
    display: inline;
    padding-right: 20px;
    &:last-child {
      padding-right: 0px;
    }
  }
}

#footer {
  background-color: $black;
  text-align: left;
}
.footer-inner {
  max-width: $navbar-width;
  padding: 65px 50px;
  margin: 0 auto;
  ul, .col-6 {
    margin: 0;
  }
  .footer-brand  {
    width: 100%;
  }
  .footer-info {
    color: $grey;
  }
  .footer-nav {
    float: right;
    text-align: right;
    ul {
      list-style-type: none;
      a {
        @extend .hoverAnchor;
      }
    }
  }
}
.copywrite {
  background: #e53935;
  width: 100%;
  display: block;

  .copywrite-inner {
    margin: 0 auto;
    max-width: $navbar-width;
    padding: 35px 50px;
    color: white;
    font-size: 18px;
  }
}