@import "variables";
@import "shared.scss";

aside {
  background-color: $green;
  line-height: 24px;
  color: white;
  .aside-inner {
    padding: 30px;
    overflow: auto;
    h2 {
      margin-top: 0;
    }
  }
  .search-form {
    .button {
      float: none;
      cursor: pointer;
      background-color: #fff;
      color: $black;
    }
  }
}

main {
  .image-wrapper {
    .card {
      margin: 0 3% 15px;
    }
    .cover-img {
      width: 100%;
    }

  }
  .text-wrapper {
    margin-left: 10px;
    margin-top: 10px;
    h2 {
      margin: 0;
      font-size: 17px;
    }

    blockquote {
      margin: 0;
    }
  }


}
.meta {
  color: $greyOnWhite;
  font-style: italic;
}

#portfolio-template {
  display: none;
}


.card {
  margin-right: 20px;
  margin-top: 0px;
}

.button {
  padding: 5px 35px 5px 35px;
  background-color: $green;
  color: #FFFFFF;
  width: 35px;
  cursor: pointer;
  margin-bottom: 1rem;
  float: right;
  @include border-radius(2px);
  @extend .card-2;
}
.button {
  margin-top: 1rem;
  &.read {
    float: none;
  }
  &#portfolio-load-next {
    margin-right: 20px;
  }
}

//Modal



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  position: relative;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 50px 20px;
  border-radius: 4px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  h2 {
    margin-top: 0px;
    line-height: 1;
  }
  .img-controls {
    padding: 0 5%;
    max-width: 395px;
    margin: 0 auto
  }

}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.featured-media {
  text-align: center;
  img {
    //width: 60%;
  }
}

button {
  margin-top: -2px;

  &.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    position: absolute;
    top: -4px;
    right: 10px;
    font-size: 35px;
  }
}

.portfolio-controls {
  clear: none;
  margin: 0 auto;
  max-width: 400px;
  button {
    float: none;
  }
  button:first-child {
    float: left;
  }
  button:last-child {
    float: right;
  }
}

